<header class="header">
  <div class="header__logos">
    <picture class="header__picture">
      <img src="../../../../assets/images/metis.png" alt="icon" class="header__icon" />
    </picture>
    <div class="header__separator"></div>
    <picture class="header__picture">
      <img src="../../../../assets/images/logoLarge.png" alt="icon" class="header__icon header__icon--shadow" />
    </picture>
  </div>
  <nav class="header__navbar">
    <ul class="header__list">
        <li class="header__item">inicio</li>
        <li class="header__item">Trabajo en grado</li>
        <li class="header__item">Desarrollo trabajo de grado</li>
        <li class="header__item">Seguimiento</li>
        <li class="header__item">Asesorías</li>
    </ul>
  </nav>
  <button class="header__login">
    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="black"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-door"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 12v.01" /><path d="M3 21h18" /><path d="M6 21v-16a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v16" /></svg>
    Acceder
  </button>
</header>
