<div class="banner">
    <div class="banner__description">
      <h4 class="banner__title">Sistema de información para</h4>
      <h4 class="banner__title banner__title--color">trabajos de grado</h4>
      <h4 class="banner__title">Grupo de Investigación Metis.</h4>
      <p class="banner__paragraph">
        Plataforma integral diseñada para apoyar la planificación, ejecución y
        seguimiento de los trabajos de grado realizados en el Grupo de
        Investigación Metis. Este sistema facilita la gestión eficiente de
        proyectos académicos, promoviendo un control centralizado y organizado
        en cada etapa del proceso, desde la asignación de temas hasta la
        culminación y presentación de resultados. Permite a estudiantes y
        tutores llevar un registro detallado del progreso, gestionar entregas,
        establecer cronogramas y generar reportes.
      </p>
      <button class="banner__login" title="Autogestión">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-compact-right"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M11 4l3 8l-3 8" />
        </svg>
        Iniciar gestión
      </button>
    </div>
    <div class="banner__photo">
      <picture class="banner__picture">
        <img
          src="../../assets/images/banner.jpg"
          alt="Students"
          class="banner__img"
        />
      </picture>
    </div>
    <div class="pattern"></div>
  </div>