<footer class="footer">
  <div class="footer__content">
    <div class="footer__information">
      <picture class="footer__picture">
        <img
          src="../../../../assets/images/logoLarge.png"
          alt="icon"
          class="footer__img"
        />
      </picture>
      <p class="footer__description">
        Sistema de información para apoyar la ejecución y seguimiento de los
        trabajos de grado que se realizan en el Grupo de Investigación Metis.
      </p>
    </div>
    <div class="footer__social">
      <section class="footer__section">
        <p class="footer__title">Redes Sociales</p>
        <ul class="footer__list">
          <li class="footer__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
              />
            </svg>
            <span class="footer__text">Facebook</span>
          </li>
          <li class="footer__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
              <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
            </svg>
            <span class="footer__text">X</span>
          </li>
          <li class="footer__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-gmail"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M16 20h3a1 1 0 0 0 1 -1v-14a1 1 0 0 0 -1 -1h-3v16z" />
              <path d="M5 20h3v-16h-3a1 1 0 0 0 -1 1v14a1 1 0 0 0 1 1z" />
              <path d="M16 4l-4 4l-4 -4" />
              <path d="M4 6.5l8 7.5l8 -7.5" />
            </svg>
            <span class="footer__text">Google</span>
          </li>
          <li class="footer__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-gmail"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M16 20h3a1 1 0 0 0 1 -1v-14a1 1 0 0 0 -1 -1h-3v16z" />
              <path d="M5 20h3v-16h-3a1 1 0 0 0 -1 1v14a1 1 0 0 0 1 1z" />
              <path d="M16 4l-4 4l-4 -4" />
              <path d="M4 6.5l8 7.5l8 -7.5" />
            </svg>
            <span class="footer__text">U. Francisco José de Caldas</span>
          </li>
          <li class="footer__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-windows"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M17.8 20l-12 -1.5c-1 -.1 -1.8 -.9 -1.8 -1.9v-9.2c0 -1 .8 -1.8 1.8 -1.9l12 -1.5c1.2 -.1 2.2 .8 2.2 1.9v12.1c0 1.2 -1.1 2.1 -2.2 1.9z"
              />
              <path d="M12 5l0 14" />
              <path d="M4 12l16 0" />
            </svg>
            <span class="footer__text">Microsoft</span>
          </li>
        </ul>
      </section>
      <section class="footer__section">
        <p class="footer__title">Redes Sociales</p>
        <ul class="footer__list">
          <li class="footer__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
              />
            </svg>
            <span class="footer__text">Facebook</span>
          </li>
          <li class="footer__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
              <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
            </svg>
            <span class="footer__text">X</span>
          </li>
          <li class="footer__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-gmail"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M16 20h3a1 1 0 0 0 1 -1v-14a1 1 0 0 0 -1 -1h-3v16z" />
              <path d="M5 20h3v-16h-3a1 1 0 0 0 -1 1v14a1 1 0 0 0 1 1z" />
              <path d="M16 4l-4 4l-4 -4" />
              <path d="M4 6.5l8 7.5l8 -7.5" />
            </svg>
            <span class="footer__text">Google</span>
          </li>
          <li class="footer__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-gmail"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M16 20h3a1 1 0 0 0 1 -1v-14a1 1 0 0 0 -1 -1h-3v16z" />
              <path d="M5 20h3v-16h-3a1 1 0 0 0 -1 1v14a1 1 0 0 0 1 1z" />
              <path d="M16 4l-4 4l-4 -4" />
              <path d="M4 6.5l8 7.5l8 -7.5" />
            </svg>
            <span class="footer__text">U. Francisco José de Caldas</span>
          </li>
          <li class="footer__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-windows"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M17.8 20l-12 -1.5c-1 -.1 -1.8 -.9 -1.8 -1.9v-9.2c0 -1 .8 -1.8 1.8 -1.9l12 -1.5c1.2 -.1 2.2 .8 2.2 1.9v12.1c0 1.2 -1.1 2.1 -2.2 1.9z"
              />
              <path d="M12 5l0 14" />
              <path d="M4 12l16 0" />
            </svg>
            <span class="footer__text">Microsoft</span>
          </li>
        </ul>
      </section>
      <section class="footer__maps">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.4004876127974!2d-74.08126248944208!3d4.700283395255049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9b29bedd49f3%3A0x79385886788ffef6!2sAc%20116%20%2371b14%2C%20Bogot%C3%A1!5e0!3m2!1ses-419!2sco!4v1734630243104!5m2!1ses-419!2sco"
          width="400"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </section>
    </div>
  </div>
  <div class="footer__copy">
    <p>© 2024 Copyright - Derechos de autor</p>
  </div>
</footer>
